* {
    box-sizing: border-box;
}

/*===== Base elements =====*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #fff;
}

h1 {
    margin: 0;
    color: #e4ecf2;
    text-transform: uppercase;
    font-size: 6vw;
}

a {
    text-decoration: none;
    color: #0abde3;
}

a:hover {
    color: #0b9cba;
}

ul {
    padding: 0;
    list-style: none;
}

ul li::before {
    content: "- ";
}

li {
    margin-bottom: 5px;
}

/*===== Form =====*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: auto;
}

input {
    width: 100%;
    height: 8%;
    margin-bottom: 8%;
    color: #fff;
    background-color: transparent;
    border-top: none;
    border-bottom: 2px solid #e4ecf2;
    border-right: none;
    border-left: none;
    font-size: 0.9vw;
}

input::placeholder {
    color: #c8d7e0;
}

button {
    width: 100%;
    height: 12%;
    min-height: 36px;
    margin-top: 23px;
    font-size: 1.2vw;
    color: #e4ecf2;
    background-color: #0abde3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

button:hover {
    border-radius: 20px;
    background-color: #0b9cba;
}

/*===== UI elements =====*/

.notification {
    position: relative;
    display: none;
    width: 25vw;
    padding: 0 10px;
    font-size: 1vw;
    background-color: #1dd1a1;
}

.closeBtn {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    border-radius: 50%;
    background-color: #d63031;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.closeBtn:hover {
    background-color: #ad2627;
}

/*===== Layout =====*/

.wrapper {
    display: flex;
}

.left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 35vw;
    min-height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65vw;
    min-height: 100vh;
    background-color: #072942;
}

.right::after {
    content: "";
    display: block;
    padding-bottom: 50px;
}

/*===== Other =====*/

.copyright {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1vw;
    color: #b8bdbf;
}

/*===== Media queries =====*/

@media screen and (max-width: 1024px) {

    /* Base elements */

    h1 {
        font-size: 12vw;
    }

    /* Layout */

    .left {
        display: none;
    }

    .right {
        width: 100vw;
    }

    /* Form */

    form {
        width: 50vw;
    }

    input {
        font-size: 1.4vw;
    }

    button {
        font-size: 1.7vw;
    }

    /* UI elements */

    .notification {
        width: 50vw;
        font-size: 1.8vw;
    }

    .closeBtn {
        top: -8px;
        right: -8px;
        width: 3vw;
        height: 3vw;
        font-size: 2.5vw;
    }

    /*===== Other =====*/

    .copyright {
        font-size: 2vw;
    }

}

@media screen and (max-width: 767px) {

    /* Base elements */

    h1 {
        font-size: 18vw;
    }

    /* Form */

    form {
        width: 75vw;
    }

    input {
        font-size: 2.4vw;
    }

    button {
        font-size: 3.2vw;
    }

    /* UI elements */

    .notification {
        width: 75vw;
        font-size: 3vw;
    }

    .closeBtn {
        top: -5px;
        right: -5px;
        width: 5vw;
        height: 5vw;
        font-size: 3.4vw;
    }

    /*===== Other =====*/

    .copyright {
        font-size: 3vw;
    }
}